packages/
*/obj/
*/bin/
*.nupkg
tests/Neutrino.Sample.Cmd/datasets/
tests/Neutrino.Sample.Cmd/project.lock.json
tests/Neutrino.Sample.Cmd/bin/
tests/Neutrino.Sample.Cmd/obj/
src/Neutrino/obj/
tests/Neutrino.Tests/bin/
tests/Neutrino.Tests/obj/
src/Neutrino.Api/obj/
src/Neutrino.Api/bin/
src/Neutrino/bin/
.vs/
tests/Neutrino.Tests.Integration/obj/
tests/Neutrino.Tests.Integration/bin/
src/artifacts/
tests/Neutrino.Tests/TestResult.xml
src/Neutrino.Client/obj/Debug/
tests/Neutrino.Client.Tests/obj/
tests/Neutrino.Client.Tests/bin/
src/Neutrino.Api/DataSets/
src/Neutrino.Client/obj/
